
.product-price {
    width: 80px;
    margin: 0 0 20px;
    padding: 10px 30px;
    color: #fff;
    background: #ee3643;
    border-radius: 3px;
}

.product-image {
    order: -1;
    width: 200px;
    height: 150px;
    margin: 10px 0;
}
.product-title {
    margin: 0 25px 15px;
    font-size: 18px;
}


.products  {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 470px;
    margin: 20px auto;
    padding: 0;
    list-style: none; 
}
.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #cccccc;
}

.product--available::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;

  background-image: url("https://www.flaticon.com/svg/static/icons/svg/1533/1533913.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.product--unavailable {
  filter: grayscale(1) opacity(0.7);
}

.product--unavailable::before {
  content: "Нет в наличии";
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 14px;
}

.product--special {
  flex-basis: 100%;
  order: -1;
  border-color: #ee3643;
}

.product--special::after {
  content: "Товар дня";
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
}



/* FormData */

.feedback label {
  display: block;
  margin-bottom: 20px;
}